
    .breadcrumb>li + li:before{
        content:"|\00a0";
    }
    @media only screen and (min-width : 768px) {
       .flex-row.row {
         display: flex;
         flex-wrap: wrap;
       }
       .flex-row.row > [class*='col-'] {
         display: flex;
         flex-direction: column;
       }
    }

    .flex-row .thumbnail,
    .flex-row .caption {
      flex:1 0 auto;
      flex-direction:column;
    }
    .flex-text {
      flex-grow:1
    }
    .flex-row img {
      height:auto;
      width:100%
    }

    #dialogue {
      height:400px;
      overflow-y: scroll;
      border: 1px solid black;
    }

    span.user {
        font-weight: bold;
        color: #0000FF;
    }

    span.bot {
        font-weight: bold;
        color: #FF0000;
    }




